@import url("https://use.typekit.net/scx0bil.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========================== */
/* ===Destop version first=== */
/* ========================== */
html {
    background: rgb(246, 230, 237);
    font-size: calc(15px + 0.390625vw);
    line-height: 120%;
    scroll-behavior: smooth;
}

main {
    background: rgb(246, 230, 237);
}

h2,
h3,
h4 {
    color: rgb(61, 70, 77);
}

header {
    color: rgb(61, 70, 77);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-family: "swear-display", serif;
    font-weight: 600;
}

section {
    max-height: 100%;
}

div {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: "swear-display", serif;
}

h1 {
    color: rgb(15, 14, 14);
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

h2 {
    color: rgb(15, 14, 14);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 120%;
}

h3 {
    color: rgb(15, 14, 14);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 120%;
}

h4 {
    color: rgb(15, 14, 14);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 120%;
}

p {
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
}

ul {
    width: 100%;
    line-height: 160%;
}

li {
    text-transform: capitalize;
    color: rgb(15, 14, 14);
    text-align: left;
}

form {
    width: 60%;
    margin: 40px;
}

input[type=text],
input[type=email] {
    width: 600px;
    padding: 10px 5px;
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "forma-djr-deck", sans-serif;
    color: rgb(15, 14, 14);
    background-color: #ffffff;
}

input[type=text]:focus,
input[type=email]:focus {
    width: 600px;
    color: rgb(246, 230, 237);
    background-color: rgb(61, 70, 77);
    outline: none;
}

label {
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 0%;
}

textarea {
    width: 600px;
    height: 100px;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1rem;
    resize: none;
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    transition: all .3s;
}

textarea:focus {
    color: rgb(246, 230, 237);
    background-color: rgb(61, 70, 77);
    outline: none;
}

footer {
    background: rgb(246, 230, 237);
    text-align: center;
    margin: 1rem;
    z-index: 998;
}

/* Psuedo class */
/* unvisited link */
a:link {
    text-decoration: none;
    transition: all 0.3s;
}

nav a:link {
    color: rgb(246, 230, 237);
    text-decoration: none;
    /* background: rgb(246, 230, 237); */
    text-transform: capitalize;
    padding: 10px;
    transition: all 0.3s;
}

/* visited link */
nav a:visited {
    color: rgb(246, 230, 237);
}

/* mouse over link */
nav a:hover {
    color: rgb(246, 230, 237);
    padding: 20px;
}

/* selected link */
nav a:active {
    color: rgb(246, 230, 237);
}

/* current link */
nav a.current {
    color: rgb(255, 0, 127);
}

/* ================ */
/* ===Index page=== */
/* ================ */
/* Hamburger menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgb(15, 14, 14);
    background-color: rgba(15, 14, 14, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(246, 230, 237);
    display: block;
    transition: 0.3;
}

.overlay a:hover,
.overlay a:focus {
    color: rgb(255, 0, 127);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    cursor: pointer;
    color: rgb(246, 230, 237);
}

.overlay .closebtn:hover {
    color: rgb(255, 0, 127);
}

#trigger {
    background-color: rgb(246, 230, 237);
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
    color: rgb(61, 70, 77);
    font-weight: 600;
}

.button1 {
    display: inline-block;
    width: 300px;
    min-width: 100px;
    background-color: rgb(61, 70, 77);
    color: rgb(246, 230, 237);
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    transition: all .3s;
}

.button1:hover {
    background-color: rgb(255, 0, 127);
    color: rgb(15, 14, 14);
}


/* ============== */
/* CSS index page */
/* ============== */

/* flexbox for my body for the homepage */
.hero {
    width: 100%;
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@keyframes shiftleft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-15.5%);
    }
}

@keyframes shiftright {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(44%);
    }
}

.shiftleft {
    animation-name: shiftleft;
    animation-delay: .5s;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.shiftright {
    animation-name: shiftright;
    animation-delay: .5s;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.h1-s1 {
    font-style: italic;
    font-weight: 500;
    font-size: 7rem;
    text-transform: capitalize;
    line-height: 120%;
}

.pink {
    color: rgb(255, 0, 127);
}

.arrow {
    height: 0;
    position: relative;
    bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

/* Section 2 - index */
.quote-container {
    height: 100vh;
    background-color: rgb(61, 70, 77);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quotecontainer2 {
    margin: 100px;
}

.quote {
    display: inline-flex;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(246, 230, 237);
    color: rgb(246, 230, 237);
}

.textread {
    animation-name: textread;
    animation-delay: .2s;
    animation-duration: 5s;
}

@keyframes textread {
    from {
        color: rgb(246, 230, 237);
    }
    to {
        color: rgb(255, 0, 127);
    }
}

/* section 3 - index */
.main-container {
    height: 100vh;
}

.container3 {
    background-color: rgb(61, 70, 77);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.spacing {
    overflow: hidden;
    z-index: 0;
    padding: 0 25px;
}

.color {
    color: rgb(246, 230, 237);
}

@keyframes slide-right {
    0% {
        transform: translate3d(-2000px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.bar-right {
    width: 4000px;
    height: 100px;
    border: 1px solid rgb(255, 0, 127);
    display: flex;
    flex-flow: row nowrap;
    opacity: 0;
    transition: all .5s 1s;
    opacity: 1;
    animation: slide-right 25s linear infinite;
}

.feature-main-container {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box50 {
    height: 90vh;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.img-feature {
    width: 500px;
    height: 500px;
    background-image: url(../images/dior.jpg);
    border-radius: 5px;
}

.text-feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2.8rem;
}

/* Section 4 - Index */
.link-work {
    background-color: rgb(61, 70, 77);
    width: 780px;
    border: none;
    text-decoration: none;
}

.link-work:hover {
    color: rgb(255, 0, 127);
    width: 780px;
    transition: all .5s;
}

.mainlink-container {
    height: 100vh;
    background-color: rgb(61, 70, 77);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-container {
    width: fit-content;
}

.linktext {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(246, 230, 237);
    color: rgb(246, 230, 237);
}

.arrowleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    transform: rotate(-40deg);
}

.arrowright {
    float: right;
    padding-left: 50px;
    transform: rotate(140deg);
}

/* Section 5 - Index */
.maincontainer2 {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 600px;
    transform: translateX(17%);
    padding: 80px 0 20px 0;
}

.box2 {
    width: 600px;
    transform: translateX(50%);
    padding-bottom: 60px;
}

.box3 {
    max-width: 100%;
    padding: 0 100px;
}

.sub-box3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sub-box4 {
    padding-bottom: 30px;
}

.linkl-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link-learn-box {
    padding: 0 10px;
    background-color: rgb(61, 70, 77);
    transform: translateX(-80px);
    border-radius: 5px;
}

.link-learn-text {
    padding-bottom: 10px;
    color: rgb(246, 230, 237);
}

.link-learn-box:hover {
    background-color: rgb(255, 0, 127);
    color: rgb(15, 14, 14);
    transition: all.5s;
}

/* Form */
.form-container {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formbox {
    display: flex;
    flex-direction: column;
}

.labelbox {
    justify-content: flex-start;
    padding: 10px;
}

.form-btn {
    display: inline-block;
    width: 300px;
    min-width: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    transition: all .3s;
    background-color: rgb(61, 70, 77);
    color: rgb(246, 230, 237);
}

.form-btn:hover {
    background-color: rgb(255, 0, 127);
    color: rgb(15, 14, 14);
}

/* ========================== */
/* CSS for the page portfolio */
/* ========================== */
.container-title{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    bottom: 70px;
}

.subcontainer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-portfolio{
    font-size: 15.5rem;
    color: rgb(61, 70, 77);
    cursor: default;
}

.subcontainer-subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    bottom: 60px;

    transform: translateX(-5.6%);

    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.pink-subtitle {
    color: rgb(255, 0, 127);
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.subtitle-portfolio{
    color: rgb(61, 70, 77);
}

.contianer-portfolio{
    width: 100%;
    height: auto;
}

.first-project-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-1p{
    width: 40%;
    height: 400px;
    background-image: url(../images/dolce-gabana.jpg);
    transform: translateX(-85%);
    border-radius: 40px;
}

.img-1p:hover{
    transition: all .8s;
    opacity: 30%;
    cursor: pointer;
}

.second-project-box{
    width: 100%;
    height: 70vh;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.second-project-textbox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    padding: 0 120px;

    position: relative;
    top: 100px;
}

.img-2p{
    width: 40%;
    height: 450px;

    position: relative;
    bottom: 100px;
    background-image: url(../images/dior.jpg);
    transform: translateX(-15%);
    border-radius: 40px;
}

.img-2p:hover{
    transition: all .8s;
    opacity: 30%;
    cursor: pointer;
}


/* =================== */
/* CSS for my About me */
/* =================== */
.main-container-about {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-title-about{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    transform: translateX(10%);
}

.h1-pink-about{
    color: rgb(255, 0, 127);
    opacity: 0;

    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.secondmain-container-about {
    width: 100%;
    height: auto;
    background-color: rgb(61, 70, 77);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.text-container-about{
    padding: 60px 0;
    opacity: 0;

    animation-name: appear;
    animation-duration: 3s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.main-title2-about{
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: translateX(17%);
}

.h3-pink-about{
    color: rgb(246, 230, 237);
}

.main-title3-about{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: relative;
    bottom: 35px;

    transform: translateX(-12%);
}

.main-title4-about{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    transform: translateX(-13%);
}

.main-title5-about{
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: translateX(19%);

    position: relative;
    bottom: 85px;
}

.arrow-left{
    transform: translateX(200%);
}

.arrow-down{
    padding-top: 10px;
    padding-bottom: 40px;
    transform: translateX(3700%);
}

.arrow-right{
    padding-top: 50px;
    transform: translateX(380%);
}

/* ==================*/
/* Get in touch page */
/* ================== */
.html {
    background-color: rgb(61, 70, 77);
}

.main {
    background-color: rgb(61, 70, 77);
}

.footer {
    background-color: rgb(61, 70, 77);
}

.h4 {
    color: rgb(246, 230, 237);
}

#triggerdark {
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
    color: rgb(246, 230, 237);
    font-weight: 600;
}

/* Head - Get in touch */
.main-get {
    width: 100%;
    height: 100vh;
}

.get-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-subbox1 {
    transform: translateX(-20%);
    color: rgb(246, 230, 237);
    opacity: 0;
    animation-name: appear;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.get-subbox2 {
    transform: translateX(20%);
    color: rgb(246, 230, 237);
    opacity: 0;
    animation-name: appear;
    animation-duration: 2.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.arrow2 {
    height: 0;
    position: relative;
    bottom: 100px;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.8s;

    animation-name: appear;
    animation-duration: 2.5s;
    animation-delay: 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes appear{
    to{opacity: 1;}
}

/* Form dark mode*/
.label-color {
    color: rgb(246, 230, 237);
}

.form-btn-dark {
    display: inline-block;
    width: 300px;
    min-width: 100px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    transition: all .3s;
    background-color: rgb(246, 230, 237);
    color: rgb(61, 70, 77);
}

.form-btn-dark:hover {
    background-color: rgb(255, 0, 127);
    color: rgb(15, 14, 14);
}


/* ==================== */
/* ===Tablet version=== */
/* ==================== */
@media only screen and (max-width: 1367px) {
    /* About me */
    .box2{
        width: 600px;
        transform: translateX(40%);
        padding-bottom: 60px;
    }
    
    .h3-text-media{
        font-size: 2.3rem;
    }
    
    .h4-text-media{
        font-size: 1.8rem;
    }
    
    .p-text-media{
        font-size: 1.3rem;
        line-height: 120%;
    }
    
    .sub-box3{
        padding: 60px 0;
    }
    
    .sub-box4{
        padding-bottom: 60px;
    }

    /* Form */
    label{
        font-size: 1.5rem;
    }

    input[type=text],
    input[type=email] {
        width: 800px;
        padding: 15px 5px;
        font-size: 1.3rem;
    }

    input[type=text]:focus,
    input[type=email]:focus {
        width: 800px;
    }

    textarea{
        width: 800px;
        height: 200px;
        font-size: 1.3rem;
    }

    .form-btn{
        width: 600px;
        padding: 20px 0;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1181px) {
    /* About me */
    .box2{
        width: 600px;
        transform: translateX(40%);
        padding-bottom: 60px;
    }
        
    .h3-text-media{
        font-size: 2rem;
    }
        
    .h4-text-media{
        font-size: 1.5rem;
    }
        
    .p-text-media{
        font-size: 1.1rem;
        line-height: 120%;
    }
        
    .sub-box3{
        padding: 60px 0;
    }
        
    .sub-box4{
        padding-bottom: 60px;
    }

    /* Form */
    label{
        font-size: 1.1rem;
    }

    input[type=text],
    input[type=email] {
        width: 600px;
        padding: 15px 5px;
        font-size: 1.3rem;
    }

    input[type=text]:focus,
    input[type=email]:focus {
        width: 600px;
    }

    textarea{
        width: 600px;
        height: 150px;
        font-size: 1.1rem;
    }

    .form-btn{
        width: 500px;
        padding: 15px 0;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1025px) {
    /* Hamburger menu */
    .overlay a{
        font-size: 2.8rem;
        margin: 25px 0;
    }

    .overlay .closebtn{
        top: 30px;
        left: 30px;
    }

    #trigger{
        font-size: 1.8rem;
        top: 30px;
        left: 30px;
    }
    
    /* Featured works */
    .feature-main-container{
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .box50{
        width: 100%;
    }
    
    .text-feature{
        font-size: 3rem;
    }

    /* About me */
    .box1{
        padding: 30px 0 20px 0;
    }

    .box2{
        width: 600px;
        transform: translateX(40%);
        padding-bottom: 30px;
    }
    
    .h3-text-media{
        font-size: 2;
    }
    
    .h4-text-media{
        font-size: 1.5rem;
    }
    
    .p-text-media{
        font-size: 1.3rem;
        line-height: 120%;
    }
    
    .sub-box3{
        padding: 30px 0;
    }
    
    .sub-box4{
        padding-bottom: 30px;
    }

    /* Form */
    label{
        font-size: 1.5rem;
    }

    input[type=text],
    input[type=email] {
        width: 750px;
        padding: 15px 5px;
        font-size: 1.3rem;
    }

    input[type=text]:focus,
    input[type=email]:focus {
        width: 750px;
    }

    textarea{
        width: 750px;
        height: 200px;
        font-size: 1.3rem;
    }

    .form-btn{
        width: 500px;
        padding: 20px 0;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 980px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    .overlay a{
        font-size: 2.8rem;
        margin: 25px 0;
    }

    .overlay .closebtn{
        top: 30px;
        left: 30px;
    }

    #trigger{
        font-size: 1.8rem;
        top: 30px;
        left: 30px;
    }

    .h1-s1 {
        font-size: 5.5rem;
    }

    /* Featured works */
    .feature-main-container{
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .box50{
        width: 100%;
    }

    .text-feature{
        font-size: 3rem;
    }

    /* About me */
    .box2{
        width: 500px;
        transform: translateX(40%);
    }

    .h3-text-media{
        font-size: 2.5rem;
    }

    .h4-text-media{
        font-size: 2rem;
    }

    .p-text-media{
        font-size: 1.3rem;
        line-height: 120%;
    }

    .sub-box3{
        padding: 50px 0;
    }

    .sub-box4{
        padding-bottom: 50px;
    }

    /* Form */
    label{
        font-size: 1.5rem;
    }
    
    input[type=text],
    input[type=email] {
        width: 600px;
        padding: 15px 5px;
        font-size: 1.3rem;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        width: 600px;
    }
    
    textarea{
        width: 600px;
        height: 200px;
        font-size: 1.3rem;
    }
    
    .form-btn{
        width: 400px;
        padding: 15px 0;
        font-size: 1.6rem;
    }    
}

/* ==================== */
/* ===Mobile version=== */
/* ==================== */

@media only screen and (max-width: 933px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    .overlay a{
        font-size: 2.8rem;
        margin: 25px 0;
    }

    .overlay .closebtn{
        top: 30px;
        left: 30px;
    }

    #trigger{
        font-size: 1.2rem;
        top: 15px;
        left: 15px;
    }

    .h1-s1 {
        font-size: 4rem;
    }

    /* Quote */
    .quote{
        font-size: 2rem;
    }

    /* Featured works */
    .feature-main-container{
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .box50{
        width: 100%;
    }

    .text-feature{
        font-size: 2rem;
    }

    .img-feature{
        width: 200px;
        height: 200px;
    }

    /* Explore more */
    .linktext{
        font-size: 2.2rem;
    }

    /* About me */
    .main-container{
        height: auto;
    }

    .box2{
        width: 500px;
        transform: translateX(40%);
    }

    .h3-text-media{
        font-size: 1.5rem;
    }

    .h4-text-media{
        font-size: 1.3rem;
    }

    .p-text-media{
        font-size: 1rem;
        line-height: 120%;
    }

    .sub-box3{
        padding: 50px 0;
    }

    .sub-box4{
        padding-bottom: 50px;
    }

    /* Form */

    .h2-form{
        font-size: 2rem;
    }
    label{
        font-size: 1.1rem;
    }
    
    input[type=text],
    input[type=email] {
        width: 600px;
        padding: 15px 5px;
        font-size: 1rem;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        width: 600px;
    }
    
    textarea{
        width: 600px;
        height: 150px;
        font-size: 1.3rem;
    }
    
    .form-btn{
        width: 300px;
        padding: 15px 0;
        font-size: 1.2rem;
    }    
}

@media only screen and (max-width: 897px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    .overlay a{
        font-size: 2.8rem;
        margin: 25px 0;
    }

    .overlay .closebtn{
        top: 30px;
        left: 30px;
    }

    #trigger{
        font-size: 1rem;
        top: 10px;
        left: 10px;
    }

    .h1-s1 {
        font-size: 4rem;
    }

    .quote{
        font-size: 1.8rem;
    }

    /* Featured works */
    .feature-main-container{
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box50{
        width: 100%;
        display: inline-flex;
    }

    .text-feature{
        font-size: 2rem;
    }

    .img-feature{
        width: 200px;
        height: 200px;
    }

    /* Explore more */

    .arrowright{
        width: 65px;
        height: 65px;
    }

    .arrowleft{
        width: 65px;
        height: 65px;
    }

    .linktext{
        font-size: 2rem;
    }


    /* About me */
    .main-container{
        height: auto;
    }

    .box1{
        width: 500px;
        transform: none;
        margin-left: 100px;
    }

    .box2{
        width: 500px;
        transform: none;
        margin-left: 100px;
    }

    .h3-text-media{
        font-size: 2rem;
    }

    .h4-text-media{
        font-size: 1.5rem;
    }

    .p-text-media{
        font-size: 1rem;
    }

    .box3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sub-box3{
        padding: 50px 0;
        text-align: center;
    }

    .sub-box4{
        padding-bottom: 50px;
    }

    /* Form */
    label{
        font-size: 1.5rem;
    }
    
    input[type=text],
    input[type=email] {
        width: 500px;
        padding: 15px 5px;
        font-size: 1rem;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        width: 500px;
    }
    
    textarea{
        width: 500px;
        height: 150px;
        font-size: 1rem;
    }
    
    .h2-form{
        font-size: 2rem;
    }

    .form-btn{
        width: 300px;
        padding: 15px 0;
        font-size: 1.4rem;
    } 
    
    label{
        font-size: 1.3rem;
    }

    input{
        font-size: 1.3rem;
    }

}

@media only screen and (max-width: 668px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    .overlay a{
        font-size: 2.8rem;
        margin: 25px 0;
    }

    .overlay .closebtn{
        top: 30px;
        left: 30px;
    }

    #trigger{
        font-size: 1.2rem;
        top: 15px;
        left: 15px;
    }

    .h1-s1 {
        font-size: 4rem;
    }

    .quote{
        font-size: 1.8rem;
    }

    /* Featured works */
    .feature-main-container{
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box50{
        width: 100%;
        display: inline-flex;
    }

    .text-feature{
        font-size: 2rem;
    }

    .img-feature{
        width: 200px;
        height: 200px;
    }

    /* Explore more */

    .arrowright{
        width: 65px;
        height: 65px;
    }

    .arrowleft{
        width: 65px;
        height: 65px;
    }

    .linktext{
        font-size: 2rem;
    }


    /* About me */
    .main-container{
        height: auto;
    }

    .box1{
        width: 500px;
        transform: none;
        margin-left: 100px;
    }

    .box2{
        width: 500px;
        transform: none;
        margin-left: 100px;
    }

    .h3-text-media{
        font-size: 2rem;
    }

    .h4-text-media{
        font-size: 1.5rem;
    }

    .p-text-media{
        font-size: 1rem;
    }

    .box3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sub-box3{
        padding: 50px 0;
        text-align: center;
    }

    .sub-box4{
        padding-bottom: 50px;
    }

    /* Form */
    label{
        font-size: 1.5rem;
    }
    
    input[type=text],
    input[type=email] {
        width: 500px;
        padding: 15px 5px;
        font-size: 1rem;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        width: 500px;
    }
    
    textarea{
        width: 500px;
        height: 150px;
        font-size: 1rem;
    }
    
    .h2-form{
        font-size: 2rem;
    }

    .form-btn{
        width: 300px;
        padding: 15px 0;
        font-size: 1.4rem;
    } 
    
    label{
        font-size: 1.3rem;
    }

    input{
        font-size: 1.3rem;
    }

}


@media only screen and (max-width: 668px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    .overlay a{
        font-size: 2.8rem;
        margin: 25px 0;
    }

    .overlay .closebtn{
        top: 30px;
        left: 30px;
    }

    #trigger{
        font-size: 1.2rem;
        top: 15px;
        left: 15px;
    }

    .h1-s1 {
        font-size: 4rem;
    }

    .quote{
        font-size: 1.8rem;
    }

    /* Featured works */
    .feature-main-container{
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box50{
        width: 100%;
        display: inline-flex;
    }

    .text-feature{
        font-size: 2rem;
    }

    .img-feature{
        width: 200px;
        height: 200px;
    }

    /* Explore more */

    .arrowright{
        width: 65px;
        height: 65px;
    }

    .arrowleft{
        width: 65px;
        height: 65px;
    }

    .linktext{
        font-size: 2rem;
    }


    /* About me */
    .main-container{
        height: auto;
    }

    .box1{
        width: 500px;
        transform: none;
        margin-left: 100px;
    }

    .box2{
        width: 500px;
        transform: none;
        margin-left: 100px;
    }

    .h3-text-media{
        font-size: 2rem;
    }

    .h4-text-media{
        font-size: 1.5rem;
    }

    .p-text-media{
        font-size: 1rem;
    }

    .box3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sub-box3{
        padding: 50px 0;
        text-align: center;
    }

    .sub-box4{
        padding-bottom: 50px;
    }

    /* Form */
    label{
        font-size: 1.5rem;
    }
    
    input[type=text],
    input[type=email] {
        width: 500px;
        padding: 15px 5px;
        font-size: 1rem;
    }
    
    input[type=text]:focus,
    input[type=email]:focus {
        width: 500px;
    }
    
    textarea{
        width: 500px;
        height: 150px;
        font-size: 1rem;
    }
    
    .h2-form{
        font-size: 2rem;
    }

    .form-btn{
        width: 300px;
        padding: 15px 0;
        font-size: 1.4rem;
    } 
    
    label{
        font-size: 1.3rem;
    }

    input{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 431px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    #trigger{
        font-size: 1.3rem;
        top: 15px;
        left: 15px;
    }

    /* Index-Header */
    .h1-s1{
        font-size: 2.8rem;
    }

    /* Quote */
    .quotecontainer2{
        margin: 50px;
    }

    .quote{
        font-size: 1.5rem;
    }

    /* Feature project */
    .feature-main-container{
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .text-feature{
        font-size: 2rem;
    }

    .mainlink-container{
        width: 100%;
    }

    .linktext{
        font-size: 1.3rem;
    }

    .arrowright{
        width: 65px;
        height: 65px;
    }

    .arrowleft{
        width: 65px;
        height: 65px;
    }

    .img-feature{
        width: 300px;
        height: 300px;
    }

    /* About me */
    .main-container{
        height: auto;
        width: auto;
    }

    .color{
        font-size: 1rem;
    }
    .box1{
        width: auto;
        transform: none;
        padding: 50px 20px 0 20px;
        margin: 0;
    }

    .h3-text-media{
        transform: none;
        font-size: 1.5rem;
    }

    .box2{
        width: auto;
        transform: none;
        padding: 20px 20px;
        margin: 0;
    }

    .h4-text-media{
        font-size: 1.3rem;
    }

    .box3{
        padding: 20px;
    }
    .sub-box3{
        padding: 20px;
        display: inline-flex;
        align-items: center;
    }

    .h5-text-media{
        font-size: 1.2rem;
        text-align: center;
    }

    .sub-box4{
        padding-bottom: 20px;
    }

    .p-text-media{
        font-size: 1rem;
    }

    /* Form */
    .form-container{
        margin: 40px 20px 10 20px;
    }
    .h2-form{
        font-size: 2rem;
    }
    label{
        font-size: 1.1rem;
    }
        
    input[type=text],
    input[type=email] {
        width: 300px;
        padding: 15px 5px;
        font-size: 1rem;
    }
        
    input[type=text]:focus,
    input[type=email]:focus {
        width: 300px;  
    }
        
    textarea{
        width: 300px;
        height: 100px;
        font-size: 1rem;
    }
        
    .form-btn{
        width: 200px;
        padding: 5px 0;
        font-size: 1.2rem;
    }    
    
    /* Footer */
    .footer-h4{
        font-size: 1rem;
    }

}

@media only screen and (max-width: 376px) {
    /* ========== */
    /* Index page */
    /* ========== */

    /* Hamburger menu */
    #trigger{
        font-size: 1.3rem;
        top: 15px;
        left: 15px;
    }

    /* Index-Header */
    .h1-s1{
        font-size: 2.8rem;
    }

    /* Quote */
    .quotecontainer2{
        margin: 50px;
    }

    .quote{
        font-size: 1.5rem;
    }

    /* Feature project */
    .feature-main-container{
        justify-content: center;
        align-items: center;
    }

    .text-feature{
        font-size: 2rem;
    }

    .mainlink-container{
        width: 100%;
    }

    .linktext{
        font-size: 1.3rem;
    }

    .arrowright{
        width: 65px;
        height: 65px;
    }

    .arrowleft{
        width: 65px;
        height: 65px;
    }

    .img-feature{
        width: 300px;
        height: 300px;
    }

    /* About me */
    .color{
        font-size: 1rem;
    }
    .box1{
        width: 100%;
        transform: none;
        padding: 50px 20px 0 20px;
    }

    .h3-text-media{
        font-size: 2rem;
    }

    .box2{
        width: 100%;
        transform: none;
        padding: 20px 20px;
    }

    .h4-text-media{
        font-size: 1.3rem;
    }

    .box3{
        width: 100%;
        padding: 20px;
    }
    .sub-box3{
        padding: 20px;
        display: inline-flex;
        align-items: center;
    }

    .h5-text-media{
        font-size: 1.2rem;
        text-align: center;
    }

    .sub-box4{
        padding-bottom: 20px;
    }

    .p-text-media{
        font-size: 1rem;
    }

    /* Form */
    .form-container{
        margin: 40px 20px 10 20px;
    }
    .h2-form{
        font-size: 2rem;
    }
    label{
        font-size: 1.1rem;
    }
        
    input[type=text],
    input[type=email] {
        width: 300px;
        padding: 15px 5px;
        font-size: 1rem;
    }
        
    input[type=text]:focus,
    input[type=email]:focus {
        width: 300px;  
    }
        
    textarea{
        width: 300px;
        height: 100px;
        font-size: 1rem;
    }
        
    .form-btn{
        width: 200px;
        padding: 5px 0;
        font-size: 1.2rem;
    }    
    
    /* Footer */
    .footer-h4{
        font-size: 1rem;
    }
}